*{
    padding: 0%;
    margin: 0%;
}

:root{
    --primary--color: '#4A90E2'; /* Cool Blue */
    --secondary--color: '#50E3C2'; /* Turquoise Green */
    --chatBubbleSent--color: '#E1F5FE'; /* Light Blue */
    --chatBubbleReceived--color: '#FFFFFF'; /* White */
    --notification--color: '#FF6F61'; /* Soft Red */
}
